.patient_satisfication_head {
  width: 290px;
  height: 375px;
  border: 2px solid #f0f0f0;
  margin-top: 40px;
}
.patient_satisfication_title {
  font-family: "SF Pro Text";
  font-size: 16px;
  color: #474d66;
  text-align: left;
  padding: 20px;
  font-weight: bold;
}
.patient_satisfication_img {
  text-align: center;
}
.patient_satisfication_goodtext {
  font-family: "SF Pro Text";
  font-weight: bold;
  font-size: 18px;
  color: #24d164;
  text-align: center;
}
.patient_satisfication_percent {
  font-family: "SF Pro Text";
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  padding: 10px;
}
.patient_satification_sentence {
  font-family: "SF Pro Text";
  font-size: 14px;
  text-align: center;
  color: #8f95b2;
}
