.Title {
  width: 96px;
  height: 16px;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #474d66;
  background-color: #edeff5;
  padding: 3px;
}
