.pharmacy__deleivery__management__container {
  margin-top: 32px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    .left {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}

.profile__pic__upload__container {
  width: 280px;
}
