.flexLine {
  display: flex;
  justify-content: center;
}
.fontText {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  padding: 2px;
  color: #8f95b2;
}
.fontTextAM {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  padding: 2px;
}
.ImageClass {
  width: 20px;
  height: 20px;
  padding: 3px;
}
