.grid__and__toggle__container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.left {
		font-family: SF Pro Text;
		font-size: 20px;
		font-weight: 600;
		line-height: 32px;
		letter-spacing: 0px;
		text-align: left;
		text-transform: capitalize;
	}
	.right {
		display: flex;
		align-items: center;
		gap: 16px;
	}
}
