$primary-blue: #3366ff;
$dark-grey: #474d66;
$grey: #7e8fa7;
$light-grey: #ccd9eb;
$default-background-grey: #ececef;
$white: #ffffff;
$pink: #ed4f9d;
$light-pink: #fdf2f8;
$black: #26334d;
$light-green: #f0fdf4;
$light-pink: #fdf2f8;
$green: #24d164;
$light-tan: #ffefd2;
$brown-text: #66460d;
$green-text: #317159;
